::-webkit-scrollbar {
	width: 25px;
}
::-webkit-scrollbar-button {
	display: none;
}
::-webkit-scrollbar-track {
	display: none;
}

::-webkit-scrollbar-thumb {
	display: none;
}
::-webkit-scrollbar-corner {
	display: none;
}

/*! locomotive-scroll v3.5.4 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
	overflow: hidden;
}

html.has-scroll-dragging {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.has-scroll-smooth body {
	overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
	min-height: 100vh;
}

.c-scrollbar {
	position: absolute;
	right: 0;
	top: 0;
	width: 25px;
	height: calc(100vh - 18px);
	transform-origin: center right;
	z-index: 9999;
	opacity: 0;
	transition: transform 0.3s, opacity 0.3s;
}

.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
	opacity: 1;
}

.c-scrollbar_thumb {
	position: absolute;
	top: 0;
	right: 0;
	background-color: var(--accent);
	width: 25px;
	border-radius: 2px;
	margin-right: 10px;
	margin-top: 9px;
	cursor: -webkit-grab;
	cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
	cursor: -webkit-grabbing;
	cursor: grabbing;
}
