@import url("../fonts/fonts.css");

html,
body {
	background-color: #4c96f7;
	font-size: 1vw;
	width: 100vw;
	overflow-x: hidden;
	height: 100vh;
}

.button {
	position: fixed;
	width: 14.5rem;
	height: 3.4rem;
	top: 3.25rem;
	right: 3.75rem;
	border-radius: 10em;
	background-color: var(--accent);
	font-size: 1.9em;
	color: var(--text_bright);
	border-color: transparent;
	z-index: 999;
	cursor: pointer;
	transition: transform 0.2s ease;
	letter-spacing: 0.03em;
}

.button:hover {
	transform: scale(1.2);
}

canvas {
	opacity: 0.1;
	mix-blend-mode: plus-lighter;
	position: fixed;
	top: 0;
	left: -20vw;
	transform: rotate(28deg);
}

main {
	position: relative;
	z-index: 10;
}

section {
	width: 65vw;
	margin: auto;
	padding-bottom: 35vh;
}

.block {
	width: 65vw;
	display: flex;
	justify-content: space-between;
}

.title {
	width: 45%;
	vertical-align: top;
}

.paragraph {
	width: 55%;
}

#hero {
	height: 100vh;
}

#contacts {
	height: 100vh;
}
