<!doctype html>

<html lang="en">

<head>


    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


    <!-- PAGE TITLE -->
    <title>REFRAME | Personal One Page HTML Template</title>


    <!-- FAVICON -->
    <link rel="icon" type="image/png" href="assets/images/favicon.png">


    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">

    
    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="assets/css/plugins.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="assets/css/elements.css">
    <link rel="stylesheet" type="text/css" href="assets/css/colors.css">


</head>

<body>


    <!-- LOADING SCREEN -->
    <div class="loading-screen">

        <!-- INNER-->
        <div class="inner">
            <div class="text-box"><h3>Jenna Sinclair</h3></div>
            <div class="line-frame"><div class="line"></div></div>
        </div>
        <!-- /INNER-->

    </div>
    <!-- /LOADING SCREEN -->


    <!-- MENU BUTTON -->
    <div class="m-menu-button">

        <!-- BURGER -->
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <!-- /BURGER -->

    </div>
    <!-- /MENU BUTTON -->


    <!-- MENU -->
    <div class="m-menu">


        <!-- MENU INNER -->
        <div class="m-menu-inner noselect">


                <!-- MENU ITEMS -->
                <div class="head m-b-2"><p class="small">Menu</p></div>
                <ul class="main-items">

                    <li><a class="scroll-to" href="#intro"><span class="ti-location-pin"></span><p class="small">Home</p></a></li>
                    <li><a class="scroll-to" href="#about"><span class="ti-user"></span><p class="small">About</p></a></li>
                    <li><a class="scroll-to" href="#resume"><span class="ti-align-left"></span><p class="small">Resume</p></a></li>
                    <li><a class="scroll-to" href="#portfolio"><span class="ti-view-grid"></span><p class="small">Portfolio</p></a></li>
                    <li><a class="scroll-to" href="#contact"><span class="ti-comments"></span><p class="small">Contact</p></a></li>
                    <li><a href="shortcodes.html" target="_blank"><span class="ti-new-window"></span><p class="small">Shortcodes</p></a></li>

                </ul>
                <!-- /MENU ITEMS -->


                <!-- SOCIAL ITEMS -->
                <div class="head m-b-2 m-t-7"><p class="small">Social</p></div>
                <div class="social-items">

                    <div class="item"><a href="#"><span class="ti-instagram"></span></a></div>
                    <div class="item"><a href="#"><span class="ti-twitter"></span></a></div>
                    <div class="item"><a href="#"><span class="ti-dribbble"></span></a></div>

                </div>
                <!-- /SOCIAL ITEMS -->


        </div>
        <!-- /MENU INNER -->


    </div>
    <!-- /MENU -->
    

    <!-- MAIN -->
    <div id="main">


        <!-- LEFT CONTENT -->
        <div class="left-content noselect">


            <!-- INNER CONTENT -->
            <div class="inner-content">
                

                <!-- NAME -->
                <div class="name">
                    <p class="small color-white">Jenna Sinclair</p>
                    <div class="seperator-line"></div>
                </div>
                <!-- /NAME -->

                <div class="picture-box"><div class="picture"></div></div>
                <div class="frame-1 frame"></div>
                <div class="frame-2 frame"></div>
                <div class="frame-3 frame"></div>


            </div>
            <!-- /INNER CONTENT -->


        </div>
        <!-- /LEFT CONTENT -->


        <!-- RIGHT CONTENT -->
        <div class="right-content">


            <!-- INNER CONTENT -->
            <div class="inner-content">


                <!-- SECTION CONTAINER -->
                <div class="section-container">
                

                    <!-- SECTION ( INTRODUCTION ) -->
                    <div class="section height-100 y-center" style="padding-bottom:2rem" id="intro">


                        <!-- CONTAINER -->
                        <div class="container">

                            <p class="tag m-b-4">INTRODUCTION</p>
                            <h1 class="m-b-5 m-l-3">I'm a Creative Developer & Technology Expert</h1>
                            <div class="seperator-line"></div>

                        </div>
                        <!-- /CONTAINER -->


                    </div>
                    <!-- /SECTION ( INTRODUCTION ) -->


                    <!-- SECTION ( ABOUT ) -->
                    <div class="section" style="padding-bottom:26rem" id="about">


                        <!-- CONTAINER -->
                        <div class="container">

                            <p class="tag m-b-3 scroll-animation">ABOUT</p>
                            <h3 class="m-b-4 m-l-1 scroll-animation">My approach to building<br> the tech brands of tomorrow.</h3>
                            <div class="seperator-line m-b-4 scroll-animation"></div>
                            <p class="scroll-animation">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.</p>

                        </div>
                        <!-- /CONTAINER -->


                    </div>
                    <!-- /SECTION ( ABOUT ) -->


                    <!-- SECTION ( ACHIEVEMENTS ) -->
                    <div class="section" style="padding-bottom:20rem">


                        <!-- CONTAINER -->
                        <div class="container">
                            

                            <p class="tag m-b-3 scroll-animation">ACHIEVEMENTS</p>
                            <h3 class="m-b-4 m-l-1 scroll-animation">Acceleration: A rapid increase in valuation and standards.</h3>
                            <div class="seperator-line m-b-4 scroll-animation"></div>
                            <p  class="m-b-5 scroll-animation">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>


                            <!-- CARD GRID -->
                            <div class="card-grid scroll-animation">


                                <!-- LEFT SIDE -->
                                <div class="left-side">


                                    <!-- ITEM -->
                                    <div class="item noselect" style="background-color: #181818;">

                                        <!-- ITEM CONTAINER -->
                                        <div class="item-container">
                                            <h2>40</h2>
                                            <p>Awards</p>
                                        </div>
                                        <!-- /ITEM CONTAINER -->
                                        
                                    </div>
                                    <!-- /ITEM -->


                                    <!-- ITEM -->
                                    <div class="item                                                                                    " style="background-color: #080808;">

                                        <!-- ITEM CONTAINER -->
                                        <div class="item-container">
                                            <h2>30+</h2>
                                            <p>Apps</p>
                                        </div>
                                        <!-- /ITEM CONTAINER -->

                                    </div>
                                    <!-- /ITEM -->


                                </div>
                                <!-- /LEFT SIDE -->


                                <!-- RIGHT SIDE -->
                                <div class="right-side m-t-6">


                                    <!-- ITEM -->
                                    <div class="item" style="background-color: #111;">

                                        <!-- ITEM CONTAINER -->
                                        <div class="item-container">
                                            <h2>90+</h2>
                                            <p>Projects</p>
                                        </div>
                                        <!-- /ITEM CONTAINER -->

                                    </div>
                                    <!-- /ITEM -->

                                    
                                    <!-- ITEM -->
                                    <div class="item" style="background-color: #030303;">

                                        <!-- ITEM CONTAINER -->
                                        <div class="item-container">
                                            <h2>130%</h2>
                                            <p>Client ROI</p>
                                        </div>
                                        <!-- /ITEM CONTAINER -->

                                    </div>
                                    <!-- /ITEM -->


                                </div>
                                <!-- /RIGHT SIDE -->


                            </div>
                            <!-- /CARD GRID -->


                        </div>
                        <!-- /CONTAINER -->


                    </div>
                    <!-- /SECTION ( ACHIEVEMENTS ) -->


                    <!-- SECTION ( SERVICES ) -->
                    <div class="section" style="padding-bottom:20rem">


                        <!-- CONTAINER -->
                        <div class="container">


                            <p class="tag m-b-3 scroll-animation">SERVICES</p>
                            <h3 class="m-b-4 m-l-1 scroll-animation">What I can do.</h3>
                            <div class="seperator-line m-b-4 scroll-animation"></div>
                            <p class="m-b-4 scroll-animation">Lorem ipsum dolor sit amet, consectetur.<br> adipiscing elit. Aenean et elementum purus.</p>


                            <!-- ACCORDION -->
                            <ul class="accordion" data-active-index="false" data-slide-Speed="200">


                                <!-- ACCORDION ITEM -->
                                <li class="accordion-item scroll-animation">
                                    <div><h5>Design</h5><div class="icon"></div></div>
                                    <div><p>Brand Systems - Design Systems - Visual Identities - Interaction Design - Visal Design - Motion Design</p></div>
                                </li>
                                <!-- /ACCORDION ITEM -->

                                <!-- ACCORDION ITEM -->
                                <li class="accordion-item scroll-animation">
                                    <div><h5>Marketing</h5><div class="icon"></div></div>
                                    <div><p>Marketing Strategy - SEO Strategy - Analytics - Creative Storytelling - UX Copywriting - Google PPC</p></div>
                                </li>
                                <!-- /ACCORDION ITEM -->

                                <!-- ACCORDION ITEM -->
                                <li class="accordion-item scroll-animation">
                                    <div><h5>Development</h5><div class="icon"></div></div>
                                    <div><p>UI Development - Technical Consultancy - App Development - Back-End Development - Cloud Infrastructure - Dev-Ops - SDK Development</p></div>
                                </li>
                                <!-- /ACCORDION ITEM -->
                            

                            </ul>
                            <!-- /ACCORDION -->


                        </div>
                        <!-- /CONTAINER -->


                    </div>
                    <!-- /SECTION ( SERVICES ) -->


                    <!-- SECTION ( RESUME ) -->
                    <div class="section" style="padding-bottom:20rem" id="resume">


                        <!-- CONTAINER -->
                        <div class="container">


                            <p class="tag m-b-3 scroll-animation">RESUME</p>
                            <h3 class="m-b-4 m-l-1 scroll-animation">Experience</h3>
                            <div class="seperator-line m-b-4 scroll-animation"></div>
                            <p class="m-b-6 scroll-animation">Lorem ipsum dolor sit amet, consectetur.<br> adipiscing elit. Aenean et elementum purus.</p>


                            <!-- RESUME -->
                            <div class="resume">


                                <!-- ITEM -->
                                <div class="item m-b-6 scroll-animation">

                                    <p class="color-white m-b-1-5 small">Google<span class="m-l-2 color-white">2017-2019</span></p>
                                    <p class="color-white m-b-1">Full-Stack Developer</p>
                                    <p>Lorem Ipsum is simply dummy text of the printing industry.</p>

                                </div>
                                <!-- /ITEM -->

                                <!-- ITEM -->
                                <div class="item m-b-6 scroll-animation">

                                    <p class="color-white m-b-1-5 small">Tesla<span class="m-l-2 color-white">2015-2017</span></p>
                                    <p class="color-white m-b-1">Front-End Developer</p>
                                    <p>Lorem Ipsum is simply dummy text of the printing industry.</p>

                                </div>
                                <!-- /ITEM -->

                                <!-- ITEM -->
                                <div class="item scroll-animation">

                                    <p class="color-white m-b-1-5 small">Adobe<span class="m-l-2 color-white">2014-2015</span></p>
                                    <p class="color-white m-b-1">Javascript Developer</p>
                                    <p>Lorem Ipsum is simply dummy text of the printing industry.</p>

                                </div>
                                <!-- /ITEM -->


                            </div>
                            <!-- /RESUME -->


                        </div>
                        <!-- /CONTAINER -->


                    </div>
                    <!-- /SECTION ( RESUME ) -->


                    <!-- SECTION ( SKILLS ) -->
                    <div class="section" style="padding-bottom:20rem">


                        <!-- CONTAINER -->
                        <div class="container">


                            <p class="tag m-b-3 scroll-animation">SKILLS</p>
                            <h3 class="m-b-4 m-l-1 scroll-animation">Skills I have collected<br> over the years and days.</h3>
                            <div class="seperator-line m-b-4 scroll-animation"></div>


                            <!-- SKILL BAR -->
                            <div class="skill-bar scroll-animation">


                                <div class="head noselect"><h5>HTML/CSS</h5></div>

                                <!-- BAR -->
                                <div class="bar m-b-2">
                                    <div class="fill" style="width: 85%;"></div>
                                    <div class="number-tag noselect" style="left: 85%;"><p class="small">85%</p></div>
                                </div>
                                <!-- /BAR -->


                            </div>
                            <!-- /SKILL BAR -->


                            <!-- SKILL BAR -->
                            <div class="skill-bar m-b-2 scroll-animation">


                                <div class="head noselect"><h5>Javascript</h5></div>
                                
                                <!-- BAR -->
                                <div class="bar">

                                    <div class="fill" style="width: 70%;"></div>
                                    <div class="number-tag noselect" style="left: 70%;"><p class="small">70%</p></div>
                                
                                </div>
                                <!-- /BAR -->


                            </div>
                            <!-- /SKILL BAR -->


                            <!-- SKILL BAR -->
                            <div class="skill-bar scroll-animation">


                                <div class="head noselect"><h5>WordPress</h5></div>
                                
                                <!-- BAR -->
                                <div class="bar">

                                    <div class="fill" style="width: 95%;"></div>
                                    <div class="number-tag noselect" style="left: 95%;"><p class="small">95%</p></div>
                                
                                </div>
                                <!-- /BAR -->


                            </div>
                            <!-- /SKILL BAR -->


                        </div>
                        <!-- /CONTAINER -->


                    </div>
                    <!-- /SECTION ( SKILLS ) -->


                    <!-- SECTION ( PORTFOLIO ) -->
                    <div class="section" style="padding-bottom:20rem" id="portfolio">


                        <!-- CONTAINER -->
                        <div class="container">


                            <p class="tag m-b-3 scroll-animation">PORTFOLIO</p>
                            <h3 class="m-b-4 m-l-1 scroll-animation">Selected Work</h3>
                            <div class="seperator-line m-b-4 scroll-animation"></div>
                            <p class="m-b-6 scroll-animation">Lorem ipsum dolor sit amet, consectetur.<br> adipiscing elit. Aenean et elementum purus.</p>

                            <!-- WORK GRID -->
                            <div class="work-grid">


                                <!-- ITEM -->
                                <div class="item noselect work-lightbox scroll-animation">


                                    <div class="icon-button"><span class="ti-arrow-right"></span></div>
                                    <div class="info"><p class="color-white">Immersive Solutions</p><div class="seperator-line m-t-1"></div></div>
                                    <div class="cover" style="background-image: url(assets/images/work/item-1/preview.jpg);"></div>


                                    <!-- LIGHTBOX CONTENT -->
                                    <div class="lightbox-content">


                                        <!-- LIGHTBOX IMAGES -->
                                        <div class="lightbox-images">

                                            <div class="item" data-image="assets/images/work/item-1/1.jpg"></div>
                                            <div class="item" data-image="assets/images/work/item-1/2.jpg"></div>
                                            <div class="item" data-image="assets/images/work/item-1/3.jpg"></div>

                                        </div>
                                        <!-- /LIGHTBOX IMAGES -->

                                    
                                        <!-- INFO CONTENT -->
                                        <div class="info-content">
                                            
                                            <h3 class="m-b-3">Immersive Solutions</h3>
                                            <div class="seperator-line m-b-3"></div>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                            
                                        </div>
                                        <!-- /INFO CONTENT -->


                                    </div>
                                    <!-- LIGHTBOX CONTENT -->
                                    

                                </div>
                                <!-- /ITEM -->

                                 <!-- ITEM -->
                                 <div class="item noselect m-t-6 work-lightbox scroll-animation">


                                    <div class="icon-button"><span class="ti-arrow-right"></span></div>
                                    <div class="info"><p class="color-white">Surface Experience</p><div class="seperator-line m-t-1"></div></div>
                                    <div class="cover" style="background-image: url(assets/images/work/item-2/preview.jpg);"></div>


                                    <!-- LIGHTBOX CONTENT -->
                                    <div class="lightbox-content">


                                        <!-- LIGHTBOX IMAGES -->
                                        <div class="lightbox-images">

                                            <div class="item" data-image="assets/images/work/item-2/1.jpg"></div>

                                        </div>
                                        <!-- /LIGHTBOX IMAGES -->

                                    
                                        <!-- INFO CONTENT -->
                                        <div class="info-content">
                                            
                                            <h3 class="m-b-3">Surface Experience</h3>
                                            <div class="seperator-line m-b-3"></div>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                            
                                        </div>
                                        <!-- /INFO CONTENT -->


                                    </div>
                                    <!-- LIGHTBOX CONTENT -->
                                    

                                </div>
                                <!-- /ITEM -->


                                <!-- ITEM -->
                                <div class="item noselect m-t-6 work-lightbox scroll-animation">


                                    <div class="icon-button"><span class="ti-arrow-right"></span></div>
                                    <div class="info"><p class="color-white">Adaptive Generation</p><div class="seperator-line m-t-1"></div></div>
                                    <div class="cover" style="background-image: url(assets/images/work/item-3/preview.jpg);"></div>


                                    <!-- LIGHTBOX CONTENT -->
                                    <div class="lightbox-content">


                                        <!-- LIGHTBOX IMAGES -->
                                        <div class="lightbox-images">

                                            <div class="item" data-image="assets/images/work/item-3/1.jpg"></div>
                                            <div class="item" data-image="assets/images/work/item-3/2.jpg"></div>
                                            <div class="item" data-image="assets/images/work/item-3/3.jpg"></div>

                                        </div>
                                        <!-- /LIGHTBOX IMAGES -->

                                    
                                        <!-- INFO CONTENT -->
                                        <div class="info-content">
                                            
                                            <h3 class="m-b-3">Adaptive Generation</h3>
                                            <div class="seperator-line m-b-3"></div>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                            
                                        </div>
                                        <!-- /INFO CONTENT -->


                                    </div>
                                    <!-- LIGHTBOX CONTENT -->
                                    

                                </div>
                                <!-- /ITEM -->


                                <!-- ITEM -->
                                <div class="item noselect m-t-6 work-lightbox scroll-animation">


                                    <div class="icon-button"><span class="ti-arrow-right"></span></div>
                                    <div class="info"><p class="color-white">Frame Manufacturer</p><div class="seperator-line m-t-1"></div></div>
                                    <div class="cover" style="background-image: url(assets/images/work/item-4/preview.jpg);"></div>


                                    <!-- LIGHTBOX CONTENT -->
                                    <div class="lightbox-content">


                                        <!-- LIGHTBOX IMAGES -->
                                        <div class="lightbox-images">

                                            <div class="item" data-image="assets/images/work/item-4/1.jpg"></div>
                                            <div class="item" data-image="assets/images/work/item-4/2.jpg"></div>

                                        </div>
                                        <!-- /LIGHTBOX IMAGES -->

                                    
                                        <!-- INFO CONTENT -->
                                        <div class="info-content">
                                            
                                            <h3 class="m-b-3">Frame Manufacturer</h3>
                                            <div class="seperator-line m-b-3"></div>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                            
                                        </div>
                                        <!-- /INFO CONTENT -->


                                    </div>
                                    <!-- LIGHTBOX CONTENT -->
                                    

                                </div>
                                <!-- /ITEM -->



                            </div>
                             <!-- /WORK GRID -->


                        </div>
                        <!-- /CONTAINER -->


                    </div>
                    <!-- /SECTION ( PORTFOLIO ) -->


                    <!-- SECTION ( CUSTOMERS ) -->
                    <div class="section" style="padding-bottom:20rem">


                        <!-- CONTAINER -->
                        <div class="container">


                            <p class="tag m-b-3 scroll-animation">CUSTOMERS</p>
                            <h3 class="m-b-4 m-l-1 scroll-animation">Selected Clients</h3>
                            <div class="seperator-line m-b-6 scroll-animation"></div>

                            <!-- CUSTOMER GRID -->
                            <div class="customer-grid scroll-animation">

                                <div class="item m-b-5"><img src="assets/images/clients/1.png" class="img-responsive" alt="logo"></div>
                                <div class="item m-b-5"><img src="assets/images/clients/2.png" class="img-responsive" alt="logo"></div>
                                <div class="item m-b-5"><img src="assets/images/clients/3.png" class="img-responsive" alt="logo"></div>

                                <div class="item m-b-5"><img src="assets/images/clients/4.png" class="img-responsive" alt="logo"></div>
                                <div class="item m-b-5"><img src="assets/images/clients/5.png" class="img-responsive" alt="logo"></div>
                                <div class="item m-b-5"><img src="assets/images/clients/6.png" class="img-responsive" alt="logo"></div>

                                <div class="item"><img src="assets/images/clients/7.png" class="img-responsive" alt="logo"></div>
                                <div class="item"><img src="assets/images/clients/8.png" class="img-responsive" alt="logo"></div>
                                <div class="item"><img src="assets/images/clients/9.png" class="img-responsive" alt="logo"></div>

                            </div>
                            <!-- /CUSTOMER GRID -->


                        </div>
                        <!-- /CONTAINER -->


                    </div>
                    <!-- /SECTION ( CUSTOMERS ) -->


                    <!-- SECTION ( TESTIMONIALS ) -->
                    <div class="section" style="padding-bottom:20rem">


                        <!-- CONTAINER -->
                        <div class="container">


                            <p class="tag m-b-3 scroll-animation">TESTIMONIALS</p>
                            <h3 class="m-b-4 m-l-1 scroll-animation">What my customers<br> are saying about me?</h3>
                            <div class="seperator-line m-b-6 scroll-animation"></div>


                            <!-- TESTIMONIAL CAROUSEL -->
                            <div class="testimonial-carousel scroll-animation">


                                <!-- ITEM -->
                                <div class="item">

                                    <p class="quote">"We chose Lenoox because it's the perfect combination of convenience and quality. Team takes care of getting us high-quality images quickly and more than build jacket efficiently."</p>
                                    <p class="name m-t-3 color-white">Elena Clouse</p>
                                    <p class="role">CEO Stellar Inc.</p>

                                </div>
                                <!-- /ITEM -->

                                <!-- ITEM -->
                                <div class="item">

                                    <p class="quote">"We chose Lenoox because it's the perfect combination of convenience and quality. Team takes care of getting us high-quality images quickly and more than build jacket efficiently."</p>
                                    <p class="name m-t-3 color-white">Brandon Hadid</p>
                                    <p class="role">CTO Market Hero</p>

                                </div>
                                <!-- /ITEM -->

                                <!-- ITEM -->
                                <div class="item">

                                    <p class="quote">"We chose Lenoox because it's the perfect combination of convenience and quality. Team takes care of getting us high-quality images quickly and more than build jacket efficiently."</p>
                                    <p class="name m-t-3 color-white">John Miller</p>
                                    <p class="role">CTO SpaceX Industries</p>

                                </div>
                                <!-- /ITEM -->
                            

                            </div>
                            <!-- /TESTIMONIAL CAROUSEL -->


                        </div>
                        <!-- /CONTAINER -->


                    </div>
                    <!-- /SECTION ( TESTIMONIALS ) -->


                    <!-- SECTION ( PRICING ) -->
                    <div class="section" style="padding-bottom:20rem">


                        <!-- CONTAINER -->
                        <div class="container">


                            <p class="tag m-b-3 scroll-animation">PRICING</p>
                            <h3 class="m-b-4 m-l-1 scroll-animation">Find the plan that’s<br> right for your business.</h3>
                            <div class="seperator-line m-b-4 scroll-animation"></div>
                            <p class="m-b-4 scroll-animation">Lorem ipsum dolor sit amet, consectetur.<br> adipiscing elit. Aenean et elementum purus.</p>


                            <!-- PRICING ACCORDION -->
                            <ul class="accordion pricing-accordion" data-active-index="false" data-slide-Speed="200">


                                <!-- ACCORDION ITEM -->
                                <li class="accordion-item pricing-item scroll-animation" style="background-color: #030303;">


                                    <!-- HEAD -->
                                    <div class="head ">


                                        <div class="icon"></div>

                                        <p class="small color-white m-b-0-5">Full-Time</p>

                                        <!-- PRICE -->
                                        <div class="price">
                                            <h2 class="m-l-1">$55</h2>
                                            <p class="m-l-2">/each hour</p>
                                        </div>
                                        <!-- /PRICE -->
        
                                        <div class="seperator-line m-t-2"></div>


                                    </div>
                                    <!-- /HEAD -->


                                    <!-- CONTENT -->
                                    <div class="content">


                                        <!-- FEATURES -->
                                        <div class="features m-t-3 m-b-3">


                                            <!-- FEATURE ITEM -->
                                            <div class="feature-item">
                                                <span class="ti-check"></span>
                                                <p>Remote</p>
                                            </div>
                                            <!-- /FEATURE ITEM -->

                                            <!-- FEATURE ITEM -->
                                            <div class="feature-item">
                                                <span class="ti-check"></span>
                                                <p>Weekends</p>
                                            </div>
                                            <!-- /FEATURE ITEM -->

                                            <!-- FEATURE ITEM -->
                                            <div class="feature-item">
                                                <span class="ti-check"></span>
                                                <p>Daily Reports</p>
                                            </div>
                                            <!-- /FEATURE ITEM -->

                                            <!-- FEATURE ITEM -->
                                            <div class="feature-item">
                                                <span class="ti-check"></span>
                                                <p>24/7 Support</p>
                                            </div>
                                            <!-- /FEATURE ITEM -->
                                            

                                        </div>
                                        <!-- /FEATURES -->


                                    </div>
                                    <!-- /CONTENT -->
                                    
                                </li>
                                <!-- /ACCORDION ITEM -->


                            </ul>
                            <!-- /PRICING ACCORDION -->


                            <!-- PRICING ITEM -->
                            <div class="pricing-item m-b-2 m-t-3 scroll-animation" style="background-color: #181818;">

                                
                                <p class="small color-white m-b-0-5">Contract</p>

                                <!-- PRICE -->
                                <div class="price">
                                    <h2 class="m-l-1">$79</h2>
                                    <p class="m-l-2">/each hour</p>
                                </div>
                                <!-- /PRICE -->

                                <div class="seperator-line m-t-2"></div>

                                
                            </div>
                            <!-- /PRICING ITEM -->

                            
                        </div>
                        <!-- /CONTAINER -->


                    </div>
                    <!-- /SECTION ( PRICING ) -->


                    <!-- SECTION ( FAQ ) -->
                    <div class="section" style="padding-bottom:20rem">


                        <!-- CONTAINER -->
                        <div class="container">


                            <p class="tag m-b-3 scroll-animation">FAQ</p>
                            <h3 class="m-b-4 m-l-1 scroll-animation">Do you have questions?</h3>
                            <div class="seperator-line m-b-4 scroll-animation"></div>


                            <!-- ACCORDION -->
                            <ul class="accordion" data-active-index="1" data-slide-Speed="200">


                                <!-- ACCORDION ITEM -->
                                <li class="accordion-item scroll-animation">
                                    <div class=""><h5>Can I purchase for commercial work?</h5><div class="icon"></div></div>
                                    <div><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard since the 1500s.</p></div>
                                </li>
                                <!-- /ACCORDION ITEM -->

                                <!-- ACCORDION ITEM -->
                                <li class="accordion-item scroll-animation">
                                    <div class=""><h5>How does the daily update work?</h5><div class="icon"></div></div>
                                    <div><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard since the 1500s.</p></div>
                                </li>
                                <!-- /ACCORDION ITEM -->

                                <!-- ACCORDION ITEM -->
                                <li class="accordion-item scroll-animation">
                                    <div class=""><h5>Do you use long term contracts?</h5><div class="icon"></div></div>
                                    <div><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard since the 1500s.</p></div>
                                </li>
                                <!-- /ACCORDION ITEM -->

                                <!-- ACCORDION ITEM -->
                                <li class="accordion-item scroll-animation">
                                    <div class=""><h5>Can you work full time?</h5><div class="icon"></div></div>
                                    <div><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard since the 1500s.</p></div>
                                </li>
                                <!-- /ACCORDION ITEM -->
                            

                            </ul>
                            <!-- /ACCORDION -->


                        </div>
                        <!-- /CONTAINER -->


                    </div>
                    <!-- /SECTION ( FAQ ) -->


                    <!-- SECTION ( CONTACT ) -->
                    <div class="section" style="padding-bottom:20rem" id="contact">


                        <!-- CONTAINER -->
                        <div class="container">


                            <p class="tag m-b-3 scroll-animation">CONTACT</p>
                            <h3 class="m-b-4 m-l-1 scroll-animation">Let’s get in touch.</h3>
                            <div class="seperator-line m-b-4 scroll-animation"></div>
                            <p class="m-b-6 scroll-animation">Fill out my form below and send me an email.</p>


                            <!-- FORM --> 
                            <form id="contact-form" action="assets/contact.php" method="post" autocomplete="off">


                                <input type="text" id="contact-form-name" class="scroll-animation" name="name" placeholder="* Name">
                                <input type="text" id="contact-form-email" class="scroll-animation m-t-5" name="email" placeholder="* E-Mail">
                                <input data-require-filling="false" type="text" id="contact-form-phone" class="scroll-animation m-t-5" name="phone" placeholder="Phone">
                            
                                <!--  HONEYPOT CAPTCHA - FOR SPAM PROTECTION - DO NOT REMOVE THE COUNTRY FIELD -->
                                <div class="hpc"><input type="text" id="contact-form-country" name="taxid" placeholder="* Tax ID"></div>
                                <!--  / HONEYPOT CAPTCHA - FOR SPAM PROTECTION - DO NOT REMOVE THE COUNTRY FIELD -->

                                <textarea id="contact-form-message" class="scroll-animation m-t-5" name="message" placeholder="* Message"></textarea>

                                <!-- BUTTON AREA --> 
                                <div class="button-area m-t-5 scroll-animation">

                                    <!-- BUTTON -->
                                    <button type="submit" class="default-button">
                                        <span class="button-text">Send</span>
                                        <span class="icon-button m-l-2"><span class="ti-arrow-right"></span></span>
                                    </button>
                                    <!-- /BUTTON -->

                                    <p class="small">* Marked fields are required to fill.</p>

                                </div>
                                <!-- /BUTTON AREA --> 

                                <!-- SUCCESS BOX -->
                                <div class="success-box">
                                    <div class="icon-button m-r-2"><span class="ti-check"></span></div>
                                    <p>Your Message has been sent!</p>
                                </div>
                                <!-- /SUCCESS BOX -->
                                
                            
                            </form>
                            <!-- /FORM--> 


                        </div>
                        <!-- /CONTAINER -->


                    </div>
                    <!-- /SECTION ( CONTACT ) -->


                </div>
                <!-- /SECTION CONTAINER -->
                

            </div>
            <!-- /INNER CONTENT -->


        </div>
        <!-- /RIGHT CONTENT -->


    </div>
    <!-- MAIN -->


    <!-- JAVASCRIPT FILES -->
    <script src="assets/js/plugins.js"></script>
    <script src="config.js"></script>
    <script src="assets/js/scripts.js"></script>
    <script src="assets/js/backgound.js"></script>


</body>

</html>