#lines {
	position: fixed;
	z-index: 5;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

#lines div {
	position: fixed;
	top: 0;
	width: 1px;
	height: 100vh;
	/* 	background-color: var(--lines); */
}

#lines div:nth-of-type(1) {
	left: 12.5vw;
}

#lines div:nth-of-type(2) {
	left: 25vw;
}

#lines div:nth-of-type(3) {
	left: 37.5vw;
}

#lines div:nth-of-type(4) {
	left: 50vw;
}

#lines div:nth-of-type(5) {
	left: 62.5vw;
}

#lines div:nth-of-type(6) {
	left: 75vw;
}

#lines div:nth-of-type(7) {
	left: 87.5vw;
}
