h1,
h2,
h3,
h4,
h5,
h6,
p {
	color: var(--text_regular);
	margin-block-start: 0;
}

h1 {
	font-weight: normal;
	font-size: 4rem;
}

h2 {
	margin-block-end: 0;
}

h1,
h2 {
	user-select: none;
}

p {
	color: var(--text_regular);
	font-size: 1.4rem;
	line-height: 1.85rem;
}

::selection {
	background: var(--accent);
}
